.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: #202020;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.modal-content {
    background-color: #E8E8E8;
    margin: 5% auto 0 auto;
    padding: 20px;
    width: 70%;
    min-width: 300px;
    height: auto;
}

.modal-header {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.modal-header>h2 {
    font-size: 35px;
    font-weight: 700;
}

.close-btn {
    color: #8F8F8F;
    font-size: 50px;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    cursor: pointer;
}

.modal-body>p {
    font-size: 25px;
}

@media only screen and (max-width: 500px) {
    .modal-content {
        width: 80%;
    }
}