.themes {
    display: inline-flex;
    width: 100%;
    align-items: center;
    flex-flow: row wrap;
}

.modal-section-heading {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 1.75rem;
    justify-self: flex-start;
}

.theme {
    padding: 5px;
    font-weight: 700;
    text-align: center;
    width: 100px;
    border: 1px solid #202020;
    margin-right: 30px;
}

.theme:first-of-type {
    margin-left: 10px;
}

.theme:hover {
    cursor: pointer;
}

/* Theme warning */
.theme-warning-background {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.theme-warning {
    width: 40%;
    height: 15%;
    margin: 15% auto 0 auto;
    background-color: #E8E8E8;
    padding: 10px;
}

.theme-warning-dialogue {
    display: inline-flex;
    font-size: 2em;
    font-weight: 700;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.theme-warning-options {
    width: 100%;
    height: 55%;
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
}

#accept-restart,
#decline-restart {
    padding: 3px;
    font-size: 1.6em;
    background-color: #202020;
    color: #e8e8e8;
    width: 25%;
}

/* Phone/tablet modal */
@media only screen and (max-width: 960px) {
    .themes {
        display: flex;
        width: 100%;
        align-items: flex-start;
        flex-flow: column wrap;
    }

    .theme {
        width: 100%;
        border: 1px solid #202020;
        margin: 5px 0;
    }

    .theme:first-of-type {
        margin-left: 0;
    }

    .modal-content {
        margin: 7% auto 0 auto;
        width: 60%;
    }
}

/* Phone warning */
@media only screen and (max-width: 770px) {
    .theme-warning {
        width: 60%;
        min-width: 300px;
        height: 20%;
        margin: 30% auto 0 auto;
    }

    .theme-warning-dialogue {
        font-size: 2em;
        width: 100%;
    }

    .theme-warning-options {
        height: 50%;
    }
}

/* Warning small height */
@media only screen and (max-height: 700px) {
    .theme-warning {
        height: 30%;
    }
}

/* Warning min-height */
@media only screen and (max-height: 500px) {
    .theme-warning {
        min-height: 150px;
        margin: 10% auto;
    }
}