#preferences {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    margin-top: 10px;
    font-size: 1.3em;
}

.preference-option-checkbox {
    vertical-align: bottom;
    transform: scale(1.2);
}

.preferences-option:not(:first-child) {
    margin-left: 15px;
}

.preferences-option:not(:first-child):not(:last-child) {
    margin-bottom: 10px;
}

@media only screen and (max-width: 960px) {
    .preferences-option:not(:first-child) {
        margin-left: 10px;
        font-size: 0.9em;
    }

    .preference-option-checkbox {
        margin: -1px 0 0 0;
        vertical-align: middle;
    }
}