@charset "UTF-8";

* {
    box-sizing: border-box;
    touch-action: manipulation;
}

body {
    width: 100vw;
    height: 100vh;
    font-family:
        "inconsolata",
        "Courier New",
        monospace;
}

/* Header */
.main-header {
    /* border-bottom: 1px solid #e8e8e8; */
    border-bottom-width: 1px;
    border-bottom-color: #e8e8e8;
    border-bottom-style: solid
}

nav {
    display: flex;
    height: 5%;
    min-height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav>h1,
.about,
.settings {
    font-size: 1.5em;
    color: #202020;
}

.about {
    margin-left: 9%;
}

.settings {
    margin-right: 9%;
}

.settings,
.about {
    transition:
        transform 0.3s ease-in-out,
        opacity 0.2s ease-in-out;
}

.settings:hover,
.about:hover,
.settings:focus,
.about:focus {
    opacity: 0.75;
    cursor: pointer;
}

/* Main content */
main,
nav,
.modal-content {
    max-width: 800px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 445px;
}

main {
    display: grid;
    width: 100vw;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "session break long-break"
        "session-step break-step long-break-step"
        "time time time"
        "timer-control timer-control timer-control"
        "pomodoro pomodoro pomodoro";
}

button {
    border: none;
    background-color: transparent;
    font-size: 3em;
    padding: 0;
}

.la {
    background-color: transparent;
}

/* Session */
.session-title {
    display: flex;
    grid-area: session;
    justify-content: center;
    align-items: center;
}

.session-step {
    display: flex;
    grid-area: session-step;
    justify-content: center;
    align-items: flex-start;
}

.minutes>p {
    width: 100px;
    text-align: center;
    font-size: 7vw;
}

.session-title,
.break-title,
.long-break-title {
    font-size: 7vw;
}

.session-title>h3,
.break-title>h3,
.long-break-title>h3 {
    padding-bottom: 3px;
}

.session-title>h3,
.break-title>h3,
.long-break-title>h3,
button {
    transition: opacity 0.2s ease-in-out;
}

.session-title>h3:hover,
.break-title>h3:hover,
.long-break-title>h3:hover,
.session-title>h3:focus,
.break-title>h3:focus,
.long-break-title>h3:focus,
button:hover,
button:focus {
    opacity: 0.75;
    cursor: pointer;
}

/* Pomodoros */
.pomodoro-container {
    grid-area: pomodoro;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#pomodoros-complete {
    grid-area: pomodoro;
    font-size: 1.4rem;
}

.pomodoros {
    display: inline-flex;
    margin-top: 5px;
}

.pomodoro {
    height: 25px;
    width: 25px;
    border: 2px solid var(--light-color);
    border-radius: 50%;
    margin: 0 25px;
}

/* Break */
.break-title {
    display: flex;
    grid-area: break;
    justify-content: center;
    align-items: center;
}

.break-step {
    display: flex;
    grid-area: break-step;
    justify-content: center;
    align-items: flex-start;
}

/* Long break */
.long-break-title {
    display: flex;
    grid-area: long-break;
    justify-content: center;
    align-items: center;
}

.long-break-step {
    display: flex;
    grid-area: long-break-step;
    justify-content: center;
    align-items: flex-start;
}

/* Time */
.timer-display {
    display: flex;
    grid-area: time;
    justify-content: center;
    align-items: flex-start;
}

#timer {
    font-size: 4rem;
}

/* Timer controls */
.timer-controls {
    width: 80%;
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
    grid-area: timer-control;
    /* margin-bottom: -25px; */
    margin: 0 auto -25px auto;
}

.timer-controls>button {
    font-size: 10vw;
    margin-bottom: 5%;
}

.session-title,
.break-title,
.long-break-title,
.minutes,
.btn-time,
.pomodoro-container {
    opacity: 1;
}

.session-title,
.session-step {
    margin-left: 110px;
}

.long-break-title,
.long-break-step {
    margin-right: 110px;
}

.shrink-animation {
    animation: shrink 0.4s ease-in-out;
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

.btn-time:hover,
.btn-time:focus {
    opacity: 0.6;
}

hr {
    border: 0;
    height: 1px;
    background-color: var(--dark-color);
}

/* Desktop */
@media only screen and (min-width: 600px) {
    main {
        width: 50vw;
        gap: 1.5%;
    }

    nav {
        /* width: 40vw; */
        max-width: 595px;
        margin: 0 auto;
    }

    .session-title,
    .break-title,
    .long-break-title {
        font-size: 1.7rem;
    }

    .minutes>p {
        font-size: 2rem;
    }

    .timer-controls>button {
        font-size: 3.125rem;
    }

    /* Grid display */
    .timer-display,
    .session-step,
    .break-step,
    .long-break-step {
        align-items: flex-start;
    }

    .session-title,
    .break-title,
    .long-break-title {
        align-items: flex-end;
        margin-top: -10px;
    }

    .timer-controls {
        align-items: center;
    }
}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 1400px) {
    main {
        width: 70vw;
    }
}

/* Small tablet, large phone */
@media only screen and (min-width: 600px) and (max-width: 1100px) {
    main {
        width: 80vw;
    }

    nav {
        width: 45vw;
    }
}

/* Small height */
@media only screen and (max-height: 700px) {
    main {
        width: 100vw;
        gap: 2.5%;
    }

    h3 {
        margin-top: 5px;
    }

    .session-title,
    .break-title,
    .long-break-title {
        font-size: 1.5rem;
    }

    .minutes>p {
        font-size: 1.813rem;
    }

    .timer-controls>button {
        font-size: 2.5rem;
    }

    .pomodoros {
        margin-top: 20px;
    }

    #timer {
        font-size: 5.938rem;
        margin-bottom: 2%;
    }
}

/* Tablet */
@media only screen and (min-width: 700px) and (max-width: 950px) {
    main {
        width: 100vw;
    }

    nav {
        width: 65vw;
    }
}

/*  Landscape phone */
@media only screen and (min-width: 700px) and (max-width: 900px) and (max-height: 420px) {
    .container {
        height: 50px;
    }

    .timer-controls {
        margin-bottom: -10px;
    }

    main {
        width: 90vw;
    }

    .session-title,
    .break-title,
    .long-break-title {
        align-items: flex-end;
        margin-top: 5px;
        font-size: 1.5rem;
    }

    .minutes>p {
        font-size: 1.813rem;
    }

    .pomodoros {
        display: inline-flex;
        margin-top: 20px;
    }
}

/* Small tablet */
@media only screen and (min-width: 600px) and (max-width: 700px) {
    main {
        width: 90vw;
    }

    nav {
        width: 75vw;
    }

    .timer-controls {
        width: 100%;
        margin: 0 0 -10px 0;
    }

    .about {
        margin-left: 3%;
    }

    .settings {
        margin-right: 3%;
    }

    .session-title,
    .session-step {
        margin-left: 0;
    }

    .long-break-title,
    .long-break-step {
        margin-right: 0;
    }
}

/* Small width */
@media only screen and (max-width: 600px) {

    body,
    main {
        min-width: 350px;
    }

    .container {
        height: auto;
    }

    main {
        height: 50vh;
        max-height: 425px;
        margin-top: -5px;
        margin: 0 auto;
    }

    .about {
        margin-left: 3%;
    }

    .settings {
        margin-right: 3%;
    }

    .session-title,
    .break-title,
    .long-break-title {
        font-size: 1.4rem;
    }

    .minutes>p {
        font-size: 1.5rem;
        margin-top: -2px;
    }

    .timer-controls {
        width: 100%;
        margin: 0 0 -10px 0;
    }

    .session-title,
    .session-step {
        margin-left: 0;
    }

    .long-break-title,
    .long-break-step {
        margin-right: 0;
    }

    .timer-controls>button {
        font-size: 2.5rem;
    }

    #timer {
        font-size: 5.625rem;
    }

    .pomodoros {
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px) and (max-height: 400px) {
    .pomodoros {
        margin-top: 15px;
    }
}

/* Small phone */
@media only screen and (max-height: 700px) and (max-width: 370px) {
    main {
        gap: 2.5%;
    }

    .session-title,
    .break-title,
    .long-break-title {
        font-size: 1.250rem;
    }

    .minutes>p {
        font-size: 1.563rem;
    }

    .timer-controls>button {
        font-size: 2.188rem;
    }

    #timer {
        font-size: 5.313rem;
    }

    .pomodoros {
        display: inline-flex;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 420px) {
    #timer {
        font-size: 9rem;
    }
}

/* Small height overflow */
@media only screen and (max-height: 410px) {
    body {
        overflow-x: auto;
    }
}

@media only screen and (max-width: 350px) {

    .main-header,
    nav {
        min-width: 350px;
    }
}