@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Inconsolata", "Courier New", monospace;
}

/* Header */
.main-header {
    border-bottom: 1px solid #E8E8E8;
}

nav {
    display: flex;
    height: 5%;
    min-height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav>h1,
.about,
.settings {
    font-size: 1.5em;
    color: #202020;
}

.about {
    margin-left: 3%;
}

.settings {
    margin-right: 3%;
}

.settings,
.about {
    transition: transform 0.3s ease-in-out;
}

.settings:hover,
.settings:focus,
.about:hover,
.about:focus {
    opacity: 0.75;
}

.settings:hover,
.about:hover {
    cursor: pointer;
}

/* Main content */
main,
nav,
.modal-content {
    max-width: 800px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 445px;
}

main {
    display: grid;
    width: 100vw;
    height: 100%;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "session session break break"
        "session-step session-step break-step break-step"
        "time time time time"
        "timer-control timer-control timer-control timer-control"
        ". pomodoro pomodoro .";
}

button {
    border: none;
    background-color: transparent;
    font-size: 3em;
    padding: 0;
    transition: opacity 0.1s ease-in-out;
}

button:hover,
button:focus {
    opacity: 0.7;
}

button:hover {
    cursor: pointer;
}

/* Session */
.session-title {
    display: flex;
    grid-area: session;
    justify-content: center;
    align-items: center;
}

.session-step {
    display: flex;
    grid-area: session-step;
    justify-content: center;
    align-items: flex-start;
}

.minutes {
    padding: 10px;
}

.minutes>p {
    width: 100px;
    text-align: center;
    font-size: 7vw;
}

.session-title,
.break-title {
    font-size: 7vw;
}

.session-title>h3:hover,
.break-title>h3:hover {
    cursor: pointer;
}

.arrow {
    font-size: 10vw;
}

.arrow,
.minutes {
    margin: 0 auto auto auto;
}

/* Pomodoros */
.pomodoros {
    grid-area: pomodoro;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.pomodoro {
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 2px solid #E8E8E8;
    border-radius: 50%;
}

.pomodoro:last-of-type {
    cursor: pointer;
}

/* Break */
.break-title {
    display: flex;
    grid-area: break;
    justify-content: center;
    align-items: center;
}

.break-step {
    display: flex;
    grid-area: break-step;
    justify-content: center;
    align-items: flex-start;
}

/* Time */
.timer-display {
    display: flex;
    grid-area: time;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

#timer {
    font-size: 20vw;
}

/* Timer controls */
.timer-controls {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
    grid-area: timer-control;
    margin-bottom: -25px;
}

.timer-controls>button {
    font-size: 10vw;
    margin-bottom: 5%;
}

hr {
    border: 0;
    height: 1px;
    background-color: var(--dark-color);
}

/* Desktop */
@media only screen and (min-width: 600px) {
    main {
        width: 50vw;
        gap: 1%;
    }

    nav {
        width: 40vw;
        margin: 0 auto;
    }

    .session-title,
    .break-title {
        font-size: 37.5px;
    }

    .minutes>p {
        font-size: 2.813rem;
    }

    .timer-controls>button {
        font-size: 3.125rem;
    }

    #timer {
        font-size: 5.625rem;
    }

    .arrow {
        font-size: 3.750rem;
    }

    /* Grid display */
    .timer-display,
    .session-step,
    .break-step {
        align-items: flex-start;
    }

    .session-title,
    .break-title,
    .timer-controls {
        align-items: center;
    }

    .arrow,
    .minutes {
        margin: 0 auto;
    }

    .minutes {
        padding: 15px;
    }
}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width: 1400px) {
    main {
        width: 60vw;
    }
}

/* Small tablet, large phone */
@media only screen and (min-width: 600px) and (max-width: 1100px) {
    main {
        width: 70vw;
    }

    nav {
        width: 45vw;
    }
}

/* Small height */
@media only screen and (max-height: 700px) {
    main {
        width: 100vw;
        gap: 5%;
    }

    h3 {
        margin-top: 2%;
    }

    .session-title,
    .break-title {
        font-size: 1.875rem;
    }

    .minutes>p {
        font-size: 2.188rem;
    }

    .timer-controls>button {
        font-size: 2.813rem;
    }

    #timer {
        font-size: 5.938rem;
        margin-bottom: 2%;
    }

    .arrow {
        font-size: 3.438rem;
    }
}

/* Small phone */
@media only screen and (max-height: 700px) and (max-width: 370px) {
    main {
        gap: 2.5%;
    }

    .session-title,
    .break-title {
        font-size: 1.250rem;
    }

    .minutes>p {
        font-size: 1.563rem;
    }

    .timer-controls>button {
        font-size: 2.188rem;
    }

    #timer {
        font-size: 5.313rem;
    }

    .arrow {
        font-size: 2.813rem;
    }
}

/* Tablet */
@media only screen and (min-width: 700px) and (max-width: 950px) {
    main {
        width: 80vw;
    }

    nav {
        width: 60vw;
    }
}

/*  Landscape phone */
@media only screen and (min-width: 700px) and (max-width: 900px) and (max-height: 420px) {
    .container {
        height: 50px;
    }

    .timer-controls {
        margin-bottom: -10px;
    }

    main {
        width: 90vw;
    }

    nav {
        width: 80vw;
    }
}

/* Small tablet */
@media only screen and (min-width: 600px) and (max-width: 700px) {
    main {
        width: 90vw;
    }

    nav {
        width: 80vw;
    }
}

/* Small width */
@media only screen and (max-width: 600px) {

    body,
    main {
        min-width: 350px;
    }

    .container {
        height: auto;
    }

    main {
        height: 50vh;
        max-height: 425px;
        margin-top: -5px;
    }

    .session-title,
    .break-title {
        font-size: 32.5px;
    }

    .minutes>p {
        font-size: 2.2rem;
    }

    .timer-controls {
        margin-bottom: -10px;
    }

    .timer-controls>button {
        font-size: 2.5rem;
    }

    #timer {
        font-size: 5.625rem;
    }

    .arrow {
        font-size: 3.125rem;
    }

    .pomodoros {
        align-items: flex-start;
        justify-content: space-between;
    }
}

/* Small height overflow */
@media only screen and (max-height: 410px) {
    body {
        overflow-x: auto;
    }
}

@media only screen and (max-width: 350px) {

    .main-header,
    nav {
        min-width: 350px;
    }
}