#time-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

#time-inputs-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    font-size: 1.3em;
}

.time-input {
    width: 150px;
    padding: 5px;
    background-color: #E8E8E8;
    border: 1px solid #202020;
    font-size: 0.8em;
    transition: background-color 0.3s ease-in-out;
}

.time-input:not(:last-child) {
    margin-bottom: 10px;
}

.fa-check-circle {
    cursor: pointer;
}

.confirm-time-change-session,
.confirm-time-change-break {
    transition: transform 0.1s ease-in-out, color 0.3s ease-in-out;
}

.confirm-time-change-session:hover,
.confirm-time-change-break:hover {
    transform: scale(1.1);
}

.time-change-confirmed {
    color: green;
}