.theme-warning-background,
.storage-warning-background {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.warning {
    width: 40%;
    height: 15%;
    margin: 15% auto 0 auto;
    background-color: #E8E8E8;
    padding: 10px;
}

.warning-dialogue {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.warning-description {
    margin-top: 10px;
    font-size: 0.7em;
}

.warning-options {
    width: 100%;
    height: 55%;
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
}

.btn-warning-option {
    padding: 3px;
    font-size: 1.6em;
    background-color: #202020;
    color: #e8e8e8;
    width: 25%;
}

.theme-warning,
.storage-warning {
    max-height: 170px;
    max-width: 500px;
}

/* Storage warning */
.storage-warning {
    height: 18%;
}

.storage-warning-options {
    align-items: center;
}

@media only screen and (min-width: 1500px) {

    .warning,
    .theme-warning {
        width: 40%;
        height: 15%;
        margin-top: 230px;
    }
}

/* Tablet/landscape phone warning */
@media only screen and (max-width: 960px) {
    .warning {
        width: 50%;
    }

    .btn-warning-option {
        width: 35%;
    }
}

/* Phone warning */
@media only screen and (max-width: 770px) {
    .warning {
        width: 60%;
        min-width: 300px;
        height: 18%;
        margin: 30% auto 0 auto;
    }

    .warning-dialogue {
        font-size: 1.9em;
        width: 100%;
    }

    .warning-options {
        align-items: center;
        height: 80%;
    }
}

/* Storage warning size */
@media only screen and (max-width: 690px) {
    .storage-warning {
        height: 20%;
    }

    .warning-description {
        margin-top: 10px;
        font-size: 0.6em;
    }

    .storage-warning-options {
        height: 60%;
    }
}

/* Warning small height */
@media only screen and (max-height: 700px) {
    .warning {
        height: 30%;
    }
}

/* Warning min-height */
@media only screen and (max-height: 500px) {
    .theme-warning {
        min-height: 150px;
        margin: 10% auto;
    }

    .storage-warning {
        min-height: 170px;
        margin: 10% auto;
    }
}