@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Inconsolata", monospace;
}

/* header */
.main-header {
    border-bottom: 1px solid #E8E8E8;
}

nav {
    display: flex;
    height: 5%;
    min-height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav>h1,
.github,
.settings {
    font-size: 1.5em;
    color: #202020;
}

.github {
    margin-left: 3%;
}

.settings {
    margin-right: 3%;
    transition: transform 0.75s ease-in-out;
}

.settings:hover,
.settings:focus,
.github:hover,
.github:focus {
    opacity: 0.75;
    cursor: pointer;
}

/* main content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    width: 100vw;
    height: 50vh;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "session session break break"
        "session-step session-step break-step break-step"
        "time time time time"
        "timer-control timer-control timer-control timer-control"
        ". pomodoro pomodoro .";
}

button {
    border: none;
    background-color: transparent;
    font-size: 3em;
    padding: 0;
}

button:hover,
button:focus {
    cursor: pointer;
    opacity: 0.7;
}

/* session */
.session-title {
    display: flex;
    grid-area: session;
    justify-content: center;
    align-items: center;
}

.session-step {
    display: flex;
    grid-area: session-step;
    justify-content: center;
    align-items: flex-start;
}

.minutes {
    padding: 10px;
}

.minutes>p {
    width: 70px;
    text-align: center;
    font-size: 7vw;
}

.session-title,
.break-title {
    font-size: 7vw;
}

.arrow {
    font-size: 10vw;
}

.arrow,
.minutes {
    margin: 0 auto auto auto auto;
}

/* pomodoros */
.pomodoros {
    grid-area: pomodoro;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;
}

.pomodoro {
    display: inline-block;
    height: 25px;
    width: 25px;
    border: 2px solid #E8E8E8;
    border-radius: 50%;
}

/* break */
.break-title {
    display: flex;
    grid-area: break;
    justify-content: center;
    align-items: center;
}

.break-step {
    display: flex;
    grid-area: break-step;
    justify-content: center;
    align-items: flex-start;
}

/* time */
.timer-display {
    display: flex;
    grid-area: time;
    justify-content: center;
    align-items: flex-start;
}

#timer {
    font-size: 20vw;
}

/* timer controls */
.timer-controls {
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
    grid-area: timer-control;
}

.timer-controls>button {
    font-size: 10vw;
    margin-bottom: 5%;
}

/* **************************************** */
/* FOR MEDIA QUERY: SET MINIMUM WIDTH */
/* **************************************** */

/* desktop */
@media only screen and (min-width: 600px) {
    main {
        width: 50vw;
        gap: 7.5%;
        margin-top: 2%;
    }

    nav {
        width: 40vw;
        margin: 0 auto;
    }

    .session-title,
    .break-title {
        font-size: 35px;
    }

    .minutes>p {
        font-size: 40px;
    }

    .timer-controls>button {
        font-size: 50px;
    }

    #timer {
        font-size: 100px;
    }

    .arrow {
        font-size: 60px;
    }

    /* grid display */
    .timer-controls {
        align-items: flex-end;
    }

    .timer-display {
        align-items: center;
    }

    .session-title {
        align-items: flex-end;
    }

    .session-step {
        align-items: center;
    }

    .break-title {
        align-items: flex-end;
    }

    .break-step {
        align-items: center;
    }

    .arrow,
    .minutes {
        margin: 0 auto;
    }

    .minutes {
        padding: 15px;
    }
}

/* tablet */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
    main {
        width: 70vw;
        margin-top: 2%;
    }
}

/* small tablet, large phone */
@media only screen and (min-width: 600px) and (max-width: 900px) {
    main {
        width: 90vw;
    }

    nav {
        width: 60vw;
    }
}

/* small height */
@media only screen and (max-height: 700px) {
    main {
        width: 90vw;
        gap: 12.5%;
    }

    h3 {
        margin-top: 10%;
    }

    .session-title,
    .break-title {
        font-size: 30px;
    }

    .minutes>p {
        font-size: 35px;
    }

    .timer-controls>button {
        font-size: 45px;
    }

    #timer {
        font-size: 95px;
        margin-bottom: 2%;
    }

    .arrow {
        font-size: 55px;
    }
}

/* small phone */
@media only screen and (max-height: 700px) and (max-width: 370px) {
    main {
        gap: 2.5%;
    }

    .session-title,
    .break-title {
        font-size: 20px;
    }

    .minutes>p {
        font-size: 25px;
    }

    .timer-controls>button {
        font-size: 35px;
    }

    #timer {
        font-size: 85px;
    }

    .arrow {
        font-size: 45px;
    }
}

/* small width */
@media only screen and (max-width: 300px) {

    body,
    main {
        min-width: 300px;
    }

    .session-title,
    .break-title {
        font-size: 25px;
    }

    .minutes>p {
        font-size: 30px;
    }

    .timer-controls>button {
        font-size: 40px;
    }

    #timer {
        font-size: 90px;
    }

    .arrow {
        font-size: 50px;
    }
}

/* small height overflow */
@media only screen and (max-height: 410px) {
    body {
        overflow-x: auto;
    }
}