.themes-custom {
    display: inline-flex;
    width: 100%;
    flex-flow: row nowrap;
    margin: 10px 0;
}

.subsection-heading {
    font-size: 1.25em;
    margin-left: 15px;
    margin-right: 13px;
}

.subsection-heading>span {
    display: initial;
}

#apply-custom-theme {
    font-size: 1.25em;
    height: 100%;
    width: 89px;
    background-color: #202020;
    color: #e8e8e8;
    padding: 4px;
}

@media only screen and (max-width: 960px) {
    .themes-custom {
        display: flex;
        flex-flow: column wrap;
    }

    .subsection-heading {
        margin: 0;
    }

    .subsection-heading>span {
        display: none;
    }

    #apply-custom-theme {
        align-self: center;
    }
}