#how-to-use {
    font-weight: normal;
    margin-bottom: 0;
}

#details-how-to-use ol {
    list-style-type: decimal;
}

#details-how-to-use ul {
    list-style-type: disc;
}

img {
    max-width: 100%;
}

.how-to-heading {
    margin-top: 10px;
}

.pomodoro-guide {
    width: 100%;
    margin-top: 10px;
}

.how-to-options,
.how-to-info {
    font-size: 1.2rem;
    margin-left: 15px;
}

.how-to-options {
    list-style-position: outside;
    margin-left: 43px;
}

.how-to-options li {
    margin-bottom: 8px;
}

@media only screen and (max-width: 850px) {
    .how-to-info {
        margin-left: 0;
    }

    .how-to-options {
        margin-left: 30px;
    }
}