ul {
    list-style-type: disc;
    list-style-position: outside;
}

ul ul {
    list-style-type: circle;
    list-style-position: outside;
    margin-left: 15px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

#keyboard-controls-summary {
    cursor: pointer;
}

#keyboard-controls-list {
    margin-left: 19px;
    margin-bottom: 10px;
}

.keyboard-controls-list-section {
    margin-bottom: 5px;
}

#keyboard-controls-list li {
    font-size: 1.2rem;
    margin-bottom: 5px;
}