#keyboard-controls-summary {
    display: block;
    cursor: pointer;
}

#keyboard-controls-list>li {
    margin-bottom: 10px;
    font-size: 1.25em;
}

.keyboard-action-name {
    font-weight: 700;
}

.keyboard-subsection-heading {
    font-size: 1.25em;
    margin-left: 15px;
}

@media only screen and (max-width: 745px) {
    .keyboard-action-description {
        display: block;
    }

    .keyboard-action-dash {
        display: none;
    }
}