#what-is {
    color: var(--dark-color);
    line-height: 1.1;
    text-decoration: underline;
    cursor: pointer;
}

.pomodoro-info {
    font-size: 1.2rem;
    line-height: 1.1;
}

#pomodoro-wiki {
    font-style: italic;
    text-decoration: underline;
    color: var(--dark-color);
}