#time-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

#time-inputs-wrapper {
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
}

.time-input-wrapper:first-child {
    margin-left: 15px;
}

.time-input-wrapper:not(:first-child) {
    margin-left: 20px;
}

.time-input {
    width: 150px;
    padding: 5px;
    background-color: #e8e8e8;
    border: 1px solid #202020;
    font-size: 0.8em;
    transition: background-color 0.3s ease-in-out;
}

.shrink-animation-sm {
    animation: shrink-sm 0.4s ease-in-out;
}

@keyframes shrink-sm {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.925);
    }

    100% {
        transform: scale(1);
    }
}

.time-input:not(:last-child) {
    margin-bottom: 10px;
}

.fa-check-circle {
    cursor: pointer;
}

.confirm-time-change {
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.confirm-time-change:hover {
    cursor: pointer;
}

.confirm-time-change:active {
    transform: scale(0.9);
}

/* Long break disabled */
.line-through-long-break {
    text-decoration: line-through;
}

.opacity-long-break {
    opacity: 0.6;
}

.pointer-events-long-break {
    pointer-events: none;
}

/* Time input reset */
.time-inputs-reset {
    font-size: 1rem;
    width: 100px;
    background-color: #202020;
    color: #e8e8e8;
    padding: 5px;
    margin: 0 0 5px 15px;
}

@media only screen and (max-width: 960px) {
    #time-inputs-wrapper {
        justify-content: space-between;
    }

    .time-input-wrapper:first-child {
        margin-left: 0;
    }

    .time-input-wrapper:not(:first-child) {
        margin-left: 0;
    }

    .time-inputs-reset {
        width: 100%;
        margin: 0 0 5px 0;
    }
}

/* Adjust .time-input width to prevent flow to next line */
@media only screen and (max-width: 900px) {
    #time-inputs-wrapper {
        flex-direction: column;
        justify-content: flex-start;
    }

    .time-input {
        width: 93%;
    }
}

@media only screen and (max-width: 800px) {
    .time-input {
        width: 92%;
    }
}

@media only screen and (max-width: 700px) {
    .time-input {
        width: 91%;
    }
}

@media only screen and (max-width: 620px) {
    .time-input {
        width: 90%;
    }
}

@media only screen and (max-width: 555px) {
    .time-input {
        width: 89%;
    }
}

@media only screen and (max-width: 450px) {
    .time-input {
        width: 88%;
    }
}

@media only screen and (max-width: 410px) {
    .time-input {
        width: 87%;
    }
}